<app-header></app-header>

<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/farmer">Production</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/farmer">Claims</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/farmer">Compare performance</a>
    </li>
  </ul>
</nav>

<div class="content-container">
  <div class="content-area">
    <app-form> </app-form>
  </div>

  <nav class="sidenav">
    <app-sidenav></app-sidenav>
  </nav>
</div>
