<app-header></app-header>

<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/farmer">Data Input</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/farmer">Overview</a>
    </li>
  </ul>
</nav>

<div class="content-container">
  <div class="content-area">
    <h1>Farm Impact Chain</h1>
    <h2>Estimate your Greenhouse gas emissions</h2>
    <!-- <app-wizard [mdOpen]="open" [parentRef]="ref"></app-wizard> -->

    <app-form> </app-form>
  </div>

  <nav class="sidenav">
    <app-sidenav></app-sidenav>
  </nav>
</div>
