<clr-alert [clrAlertType]="'success'" (clrAlertClosedChange)="onClose()">
  <clr-alert-item>
    <span class="alert-text">
      Your claim has sucessfully been processed!
    </span>
  </clr-alert-item>
</clr-alert>

<table class="table">
  <thead>
    <tr>
      <th>Hash</th>
      <th>Transaction ID</th>
      <th>Collateral</th>
      <th>CO<sub>2</sub> eq emitted (% of weight)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ hash | truncate: [10] }}
      </td>
      <td>wheat:field-1:spring2019</td>
      <td>7</td>
      <td>20%</td>
    </tr>
  </tbody>
</table>
