/* You can add global styles to this file, and also import other style files */

.debug {
  outline: 1px dotted magenta;
}

$color-shade-1: #00a751;
$color-shade-2: #4fba48;
$color-shade-3: #c2d82e;
$color-shade-4: #fef300;
$color-shade-5: #fdba09;
$color-shade-6: #f37119;
$color-shade-7: #ee141e;

$energy-label-height: 26px;
