/* You can add global styles to this file, and also import other style files */

$color-shade-1: #00A751;
$color-shade-2: #4FBA48;
$color-shade-3: #C2D82E;
$color-shade-4: #FEF300;
$color-shade-5: #FDBA09;
$color-shade-6: #F37119;
$color-shade-7: #EE141E;

$energy-label-height: 26px;
